.gallery {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	padding: 10px;
}

.lightbox {
	width: 50%;
	text-align: center;
}

.aboutus {
 	width: 47%;
}

.aboutus p {
	font-size: 21px;
	margin-bottom: 0;
	text-align: center;
	text-transform: uppercase;
}

.lightboxStyle {
 	width: 50%;
}

@media only screen and (max-width: 768px) {
  .gallery {
		flex-direction: column;
		align-items: center;
  }
  .aboutus,
  .lightbox {
   		width: 80%;
  }
}
